<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Mimimimetr</title>
    <link rel="stylesheet" href="style.css" th:href="@{style.css}"/>
</head>
<body>
<header id="1">
    <h3 align="center">Mimimimetr</h3>

</header>
    <div id="2">
        <form sec:authorize="hasAnyRole('USER')" method="post">
            <h5 align="centre">Выберите самого мимимишного котика</h5>
            <button th:type="text" th:name="catInfo" th:value="${cat1.id}">
                <img th:src="'pictures/' + ${cat1.picture}" th:value="*{cat1.id}" width="120" height="100">
            </button>
            <button th:type="text" th:name="catInfo" th:value="${cat2.id}">
                <img th:src="'pictures/' + ${cat2.picture}" th:value="*{cat2.id}" width="120" height="100">
            </button>
        </form>

        <form sec:authorize="isAnonymous()" th:action="@{/}">
            <h5 align="centre">Авторизируйтесь или зарегистрируйтесь</h5>
            <a th:href="@{/login}">Авторизация</a>
            <a th:href="@{/registration}">Регистрация</a>
        </form>
        </div>
</body>
</html>